html {
    font-size: 22px;
}

body {
    background-color: #000000;
    color: antiquewhite;
}

a {
    color: antiquewhite;
}

a:visited {
    color:lightblue;
}

a:hover {
    color:antiquewhite;
}